<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SMIS - Online Exam Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  {% comment %}
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> {% endcomment %}
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v4.10.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html"><b><strong>SMIS</strong></b></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-video">About</a></li>
          <li><a class="nav-link scrollto" href="#Certification">Certification</a></li>
          <li><a class="nav-link scrollto o" href="#why choose">Why Choose</a></li>
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
          
          <li>
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'developer_dashboard' %}" class="getstarted scrollto"  >Dashboard</a>
            {% elif request.user.is_institute %}
            <a href="{% url 'institute_dashboard' %}" class="getstarted scrollto" >Dashboard</a>
            {% elif request.user.is_staff %}
            <a href="{% url 'staff_dashboard' %}" class="getstarted scrollto"  >Dashboard</a>
            {% elif request.user.is_student %}
            <a href="{% url 'student_dashboard' %}" class="getstarted scrollto" >Dashboard</a>
            {% endif %}
            {% else %}
            <a class="getstarted scrollto" href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h2>Saint Monica International School</h2>
          <h1>Online Exam Portal</h1>
        </div>
      </div>
      <div class="text-center">
        <a href="{% url 'student_exam_list' %}" class="btn-get-started scrollto">Take Exam</a>
        <a href="" class="btn-get-started scrollto">Download Result</a>
      </div>

    </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Video Section ======= -->
    <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/about-video.webp' %}" class="img-fluid" alt="">
            <a href="https://youtu.be/hFQcfBIGa0c" class="glightbox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a>
          </div>    

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Exploring the Benefits for Students and Educators</h3>
            <p class="fst-italic">
              Dear Parents and Students, Please note that this website is not an official platform for exams. It is
              designed solely for practice purposes. However, we would like to highlight the following benefits of
              online exams
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Familiarity with Digital Assessments</li>
              <li><i class="bi bi-check2-all"></i> Time Management Skills</li>
              <li><i class="bi bi-check2-all"></i> Flexibility and Convenience</li>
              <li><i class="bi bi-check2-all"></i> Performance Analysis</li>
            </ul>
            <p>

            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Video Section -->

    <div class="container-fluid px-4 py-4" id="Certification" data-aos="fade-up"
      style="background-image: linear-gradient(to right, #7442A5, #426BA5);">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <img src="{% static 'assets/img/certificate.png' %}" alt="" style="width:100%; height:100%">
          </div>
          <div class="col-sm-8 px-4 py-4 text-light">
            <h2><b>Topper Certifications</b></h2><br>
            <p style="text-align:justify;">We exclusively offer certification to students who demonstrate exceptional
              academic performance, specifically to those who consistently rank within the top five positions in their
              respective classes. Our certification program aims to recognize and reward the extraordinary dedication
              and achievements of these exceptional individuals. By conferring our certification upon these
              high-achieving students, we aim to provide them with a prestigious distinction that highlights their
              outstanding academic prowess and sets them apart as top performers in their field of study.</p>
            <br>
            <a href="" class="btn btn-light">Download Certificate</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid px-4 py-4" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 px-4 py-4">
            <h2><b>Progress Report Generation</b></h2><br>
            <p style="text-align:justify;">
              Our online exam portal efficiently manages and organizes student data, providing a comprehensive platform
              for automatic analysis of student progress. Through advanced algorithms and data tracking mechanisms, the
              portal seamlessly tracks and evaluates students' performance, enabling us to generate detailed progress
              reports. These reports offer valuable insights into students' strengths, weaknesses, and overall
              development, empowering educators, parents, and students themselves to make informed decisions and tailor
              their learning strategies accordingly. By leveraging technology to automate the analysis and reporting
              process.</p>
            <br>
            <a href="" class="btn btn-light">Download Progress Report</a>
          </div>
          <div class="col-sm-4">
            <img src="{% static 'assets/img/progreses-report.webp' %}" alt="" style="width:100%; height:100%">
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Services Section ======= -->
    <section id="why choose" class="services section-bg">
      <div class="py-1 service-24">

        <center>
          <h1 style="color:#7442A5">
            <strong>Why prefered online exams</strong>
          </h1>
          <br><br>
        </center>

        <div class="container">

          <!-- Row -->
          <div class="row wrap-service-24">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-bookmarks"></i>                  </span>
                  <h6 class="ser-title">Flexibility in Exam Taking</h6>
                </a>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-bar-chart-line"></i></span>
                  <h6 class="ser-title">Immediate feedback on performance</h6>
                </a>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-graph-up-arrow"></i></span>
                  <h6 class="ser-title">Improved technical skills</h6>
                </a>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-laptop"></i></span>
                  <h6 class="ser-title">Familiarity with technology</h6>
                </a>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-award"></i></span>
                  <h6 class="ser-title">Competition for Certification</h6>
                </a>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-phone"></i></span>
                  <h6 class="ser-title">Personalized Learning Experience</h6>
                </a>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-book-half"></i></span>
                  <h6 class="ser-title">Real-World Skills Development</h6>
                </a>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card card-shadow border-0 mb-4">
                <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
                  <span class="bg-success-grediant"><i class="bi bi-file-richtext"></i></span>
                  <h6 class="ser-title">Eco-Friendly Approach</h6>
                </a>
              </div>
            </div>
            <div class="col-md-12 mt-3 text-center"> <a class="btn btn-outline-success btn-md"><span>View
                  Details</span></a></div>
          </div>
        </div>
      </div>
    </section><!-- End Sevices Section -->



    <!-- ======= Frequently Asked Questions Section ======= -->
    <!--<section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section>-->
    <!-- End Frequently Asked Questions Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!--<div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>OnePage</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>-->

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Saint Monica International School</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://prameshwar4378.github.io/My_Portfolio/">Rameshwar Pawar</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bi bi-whatsapp"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>