{% extends 'staff_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>

</style>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage Subjects</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Manage Subjects</a></li>
            </ol>
        </nav>
        {% comment %} <a href="{% url 'new_admission' %}" class="btn btn-primary text-light"
            style="position: relative; left:70%; top:-50px;"><b> New Admission</b></a> {% endcomment %}

    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8" style="background:white;  border-radius:10px; box-shadow:0px 0px 10px -5px;">
                        <br>
                        <form action="" method="post" style="padding:20px;">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <center>
                                <input type="submit" value="Submit" class="btn btn-primary px-5">
                            </center>
                        </form>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
            <br><br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8" style="background:white;  border-radius:10px; box-shadow:0px 0px 10px -5px;">
                        <br> 
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Subject Name</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for sub in subject %}
                              <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{sub.subject}}</td>
                                <td>
                                    <a href="{% url 'update_subject' sub.id %}" class="btn btn-warning">Edit</a>
                                    <a href="{% url 'delete_subject' sub.id %}" class="btn btn-danger">Delete</a>
                                </td>
                              </tr> 
                              {% endfor %}
                            </tbody>
                          </table>
                          
                    </div>
                    <div class="col-sm-2"></div>

                </div>
                 

            </div>
        </div><!-- End Left side columns -->
    </section>

</main><!-- End #main -->

<script>
    document.getElementById("id_class_name").value = "{{ request.user.class_name }}";
</script>
{% endblock content %}